Video/Full video.mp4
raw_inputs/Module 1 - K?ch b?n nâng cao/T?o script h?i tho?i cho body video (5_16_2026 12:05:16 PM).html
raw_inputs/Module 5 - Hu?ng D?n T?o Prehook Concept Funeral/Module 5 - Hu?ng d?n t?o prehook concept Funeral (1_6_2026 22:49:39).html
raw_inputs/Module 2 - Dùng ngôn t? an toàn/Hu?ng d?n s? d?ng ngôn t? an toàn khi vi?t k?ch b?n (5_16_2026 12:06:20 PM).html
